* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#painel {
    border-style: solid;
    width: 100vw;
    
    background-color: #07A8E9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;

}
#topo {
    width: 100%;
    height: 10vh;
    border-style: solid;
    border-color: black;
    border-radius: 60px e 30px ;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#topo1{
    width: 15%;
    height: 90%;
    background-color: white;
    border-color: black;
    border-radius: 70px;
}

#topo2{
    width: 80%;
    height: 90%;
    background-color: white;
    border-color: black;
    border-radius: 35px;

}
#Quadrado{
    background: black;
    width: 30%;
    height: 90%;
    animation: go-back 3s infinite alternate;
    }
  
  @keyframes go-back {
    from {
    transform: translateX(1500px);
    }
    to {
    transform: translateX(0);
    }
}

#Lat {
     width: 21%;
     height: 80vw;
     background-color: azure;
     background-image: url(../imagens/imag1.jpg);
     
     border-color: black;

}
#gif {
    text-align: center;
   padding: 15px;
}

#principal {
 
    width: 70%;
    height: 80vw;
    background-color: white;
    border-color: black;
    border-radius: 35px;
    align-items: left;


}
#Part1 {
  width: 100%;
  height: 12vw;
  background-color: white;
  border-color: black;
  border-style: solid;
}
#Part2 {

  width: 100%;
  height: 12vw;
  background-color: white;
  border-color: black;
  border-style: solid;

}
#Part3 {
    width: 100%;
    height: 19vw;
    background-color: white;
    border-color: black;
    border-style: solid;
}
#Part4 {
    width: 100%;
    height: 19vw;
    background-color: white;
    border-color: black;
    border-style: solid;
}
#Part5 {
    width: 100%;
    height: 19vw;
    background-color: white;
    border-color: black;
    border-style: solid;
}